# Ignore all executables due to space constraints
Executables/
Executeables/
Databasing/
C:/Users/HostHunter/Executeables
C:/Users/HostHunter/Manifests/testlabmanifest.json
*.exe
*.msi
*.zip
*.iso
*.idea
*.cer